<ion-view cache-view="false" view-title="Latest Data">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="card" ng-repeat="(index, data) in datas" ng-click="openModal(index)">
                <div class="item item-text-wrap">
                    <h2>{{ data.name }}, {{ data.created_at }}</h2>
                    Temperature: {{ data.temperature }} &#8451; </br>
                    Humidity: {{ data.humidity }} &#8451; </br>
                    ...
                </div>
            </div>
        </ion-list>
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">{{ modalData.name }}, {{ modalData.created_at }}</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    <div class="list">
                        <a class="item">
                            Temperature: {{ modalData.temperature }} &#8451;
                        </a>
                        <a class="item">
                            Humidity: {{ modalData.humidity }} %
                        </a>
                        <a class="item">
                            Pressure: {{ modalData.pressure }} Pa
                        </a>
                        <a class="item">
                            Soil Temperature: {{ modalData.soil_temperature }} &#8451;
                        </a>
                        <a class="item">
                            Soil Humidity: {{ modalData.soil_humidity }} %
                        </a>
                        <a class="item">
                            Wind Speed: {{ modalData.wind_speed }} Km/h
                        </a>
                        <a class="item">
                            Rain: {{ modalData.rain }} mm</br>
                        </a>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>