<ion-view cache-view="false" view-title="User Stations">
    <button id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="create()">
        <i class="icon ion-plus"></i>
    </button>
    <ion-content>
        <div class="im-wrapper">
            <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="refresh()">
            </ion-refresher>
            <div class="list">
                <a class="item item-avatar" ng-repeat="(index, station) in stations" ng-last-repeat="mylist" ng-click="update(station.id)">
                    <img src="img/material1.jpg">
                    <h2>{{ station.name }}</h2>
                    <p>{{ station.location }}</p>

                </a>
            </div>
        </div>
    </ion-content>
</ion-view>