<ion-view view-title="User Stations">
    <button id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="create()">
        <i class="icon ion-plus"></i>
    </button>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="(index, station) in stations" ng-last-repeat="mylist">
                <img src="img/material1.jpg">
                <h2>{{ station.name }}</h2>
                <p>{{ station.location }}</p>
            </a>
        </div>


    </ion-content>
</ion-view>